.welcome-cont{
    text-wrap: pretty;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;
    width: clamp(300px, 75%, 1000px);
    margin: 0 auto;
}

.discord-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: fit-content;
    padding: 15px 50px;
    background-color: var(--color-third);
    border: 2px solid transparent;
    border-radius: 50px;
}

.discord-button:hover{
    border: 2px solid var(--color-third);
    background-color: transparent;
    transition: all 0.1 s ease-in-out;
    box-shadow: 1px 1px 2em var(--color-third);
}

.welcome-cont > .title{
    text-align: center;
}