.events{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

/* .events-cont{
    height: fit-content;    
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: clamp(2%, 50px, 10%);
} */

#events-info{
    width: clamp(300px, 60%, 800px);
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 50px;
    opacity: 0.8;
    border-bottom: 2px solid white; 
    border-radius: 1px;
    box-shadow: 0px 1px 0px #e0e0e0;
}
