.events{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

/* .events-cont{
    height: fit-content;    
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: clamp(2%, 50px, 10%);
} */

#events-info{
    text-align: center;
    padding-bottom: 15px;
    opacity: 0.8;
}
