.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.project-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    width: fit-content;
    padding: 10px 30px;
    background-color: transparent;
    border: 0.15em solid var(--color-secondary);
    border-radius: 50px;
}

.project-button:hover{
    cursor: pointer;
    border: 0.15em solid transparent;
    background-color: var(--color-secondary);
    transition: all 0.1s ease-in-out;
    filter: drop-shadow(1px 1px 0.5em var(--color-secondary));
    box-shadow: 5px 5px 5px var(--color-text);
}

.project-button:nth-of-type(2){
    border: 0.15em solid transparent;
    background-color: var(--color-secondary);
}

.project-button:nth-of-type(2):hover{
    border: 0.15em solid var(--color-secondary);
    background-color: transparent;
    filter: none;
}

.projects > .grid > .tile-cont > .subtitle{
    background-color: var(--color-secondary);
}