.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

#projects-info{
    text-align: center;
    margin-bottom: 15px;
    opacity: 0.8;
}