:root{
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-primary: #2596be;
  --color-primary-light: #389bd5;
  --color-secondary: #d24444;
  --color-third: #535bf2;
  --color-white: #FAF9F6;
  --color-text: #040404;
  --color-text-light: #aaaaaa;
  --color-text-gray: #696969;
}

*{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 900;
  /* text-align: center; */
  margin: 50px 0 0  ;
  font-size: clamp(1.5em, calc(130% + 1.5vw), 2.2em); /* Adjust font size relative to viewport width */
}

.subtitle{
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  /* text-align: center; */
  font-size: clamp(0.75em, calc(120% + 1.5vw), 1.75em); /* Adjust font size relative to viewport width */
}

.info{
  font-family: Lato;
  font-size: clamp(0.95em, 4vw, 1.1em);
  color: var(--color-text-light);
}

.subtext{
  text-align: center;
  margin-bottom: 15px;
  opacity: 0.8;
}

.flex-grid{
  width: clamp(320px, 90%, 1400px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the flex container */
  align-items: center;
  align-self: center;
  gap: max(2%, 50px);
}
/* 
@media screen and (max-width: 1180px){
  .flex-grid{
      justify-content: center;
  }
  
} */

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 50px;
  justify-content: center;
  align-items: center;
  width: clamp(320px, 90%, 1400px);
}

.divider{
  height: 5px;
  background-color: var(--color-white);
  width: clamp(320px, 60%, 800px);
  border: 10px white;
  border-radius: 10px;
  margin-bottom: 50px;
  opacity: 0.8;
  /* box-shadow: 2px 2px 2px var(--color-text-light); */
}

.tile-cont{
  display: flex;
  justify-self: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: var(--color-white);
  color: var(--color-text);
  border-radius: 30px;
  height: fit-content;
  min-height: 300px;
}

.flex-grid > .tile-cont{
  width: 320px;
}

.grid > .tile-cont{
  width: 100%;
}

.tile-header{
  margin: 0;
  justify-content: flex-start;
  align-self: center;
  font-size: 1.25em;
}

.tile-cont:hover{
  cursor: pointer;
  filter: drop-shadow(5px 5px 0.5em var(--color-primary));
  box-shadow: 5px 5px 5px var(--color-text);
  transition: all 0.2s ease-out;
}

.grid > .tile-cont:hover{
  cursor: pointer;
  filter: drop-shadow(5px 5px 0.5em var(--color-secondary));
  box-shadow: 5px 5px 5px var(--color-text);
  transition: all 0.2s ease-out;
}

.tile-cont > .subtitle{
  color: var(--color-white);
  text-shadow: 1px 2px 2px var(--color-text);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 10px 0px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  font-size: min(max(1.1em, 1em + 0.4vw), 1.25em);
}

.tile-body{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px 20px;
  min-height: 200px;
  height: 100%;
  overflow: hidden;
}

.tile-body > .info{
  /* font-size: clamp(0.75em, 1.5vw, 1em); */
  color: var(--color-text-gray);
  max-height: 80px;
  text-overflow: ellipsis;
  white-space: normal; /* Allow text to wrap */
  margin: auto 0;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3; /* Adjust the number of lines as needed */
  -webkit-box-orient: vertical;
}

.learn-more{
  /* margin: 50px 0 0; */
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px; 
  margin: 0 0 20px 20px;
}

.msg-cont{
  width: 100%;
  margin: 10px 0;
}
.msg{
  margin: 0 0 30px 0;
  line-height: 1.5;
}

.button-cont{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  gap: 2em;
}

@media screen and (max-width: 500px){
  .button-cont{
      gap: 20px;
  }
  
}
.button-cont a{
  color: var(--color-white);
  font-weight: 500;
  font-size: 1.1em;
  text-decoration: none;
}

/* OLD CSS */

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
